.about {
    align-items: center;
    background-color: #222F33;

}

.about__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 66px;
    padding-bottom: 78px;
    margin: 0;
}

.about__title {
    font-family: Merriweather;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 0px;
    text-align: left;
    margin: 0;

}

.paragraph-1 {
    font-family: Rubik;
    font-size: 14px;
    margin: 0;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    opacity: 70%;
    margin-right: 43px;
}

.paragraph-2 {
    font-family: Rubik;
    font-size: 14px;
    margin: 0;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    opacity: 70%;

}

@media (max-width: 768px) {
    .about__inner {
        flex-direction: column;
        padding-top: 66px;
        padding-bottom: 60px;
        background-size: cover;
    }

    .paragraph-1,
    .paragraph-2 {
        margin: 0;
    
    }
    br {
        display: none;
    }

    .about__container {
        margin: 0;
    }
}