.usp h1 {
    font-family: Merriweather;
    font-size: 18px;
    font-weight: 900;
    line-height: 23px;
    letter-spacing: 0px;
    text-align: left;
    color: #222F33;
    margin: 0;

}

.usp p {
    font-family: Rubik;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    color: #646D70;

}

.usp__container {
    display: flex;
    padding-top: 89px;
    padding-bottom: 90px;
    justify-content: space-between;

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 155px);
    gap: 37px;
    grid-column-gap: 60px;
    margin-top: 21px;


}
.usp__image{
    width: 100%;
    padding-top: -50px;

}

.usp p {
    margin: 0;
    margin-top: 4px;
}


@media (max-width: 768px) {

    @media (max-width: 768px) {
        .usp__container {
            flex-direction: column; 
        }
    
        .grid-container {
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 20px;
        }
    
        .usp p {
            order: 2;
        }
    
    
        .usp__container img {
            order: 1;
        }
    }
}