.productdisplay{
    display: flex;
    margin: 0px 100px;
    justify-content: center;
    margin-top: 50px;
}
.product-left{
    display: flex;
    gap: 17px;

}
.product-img{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.product-right{
    margin: 0 70px;
    display: flex;
    flex-direction: column;
}
.product-right h1{
font-family: DM Sans;
font-size: 20px;
font-weight: 500;
line-height: 26px;
text-align: left;
}
.product-description{
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    width: 500px;
    height: auto;
    display: flex;
    color: #707070;
    margin-top: 10px;
    
}
.product-price{
    display: flex;
    margin: 40px 0px;
    gap: 30px;
font-family: DM Sans;
font-size: 20px;
font-weight: 500;
line-height: 26px;
text-align: left;
color: #A18A68;


}
.big-button{
    padding: 20px 40px;
    width: 300px;
font-family: DM Sans;
font-size: 16px;
font-weight: 700;
line-height: 21px;
letter-spacing: 0em;
text-align: center;
border: 1px solid #000;
background: #fff;
border-radius: 4px;
cursor: pointer;
margin-top: 30px;


}

.modal-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Прозорий чорний колір фону */
    z-index: 999; /* Забезпечення відображення поверх інших елементів */
}

.modal-content {
    position: fixed;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 1000; 
    border-radius: 20px;
    padding-right: 20px;
    padding-left: 40px;
    padding-bottom: 40px;
}
.modal-content  h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #000;
    padding-top: 30px;
    text-align: center;
    
}

.modal-content  p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #000;
    padding-top: 20px;
}

.modal-content  button {
    /* padding: 10px 20px; */
    border: none;
    background-color: #3498db;
    color: #fff;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    height: 38px;
    width: 173px;
    font-family: DM Sans;
}
.button-container{
    display: flex;
    justify-content: center;
    margin-right: 20px;
    gap: 20px;
}
.product-controls {
    display: flex;
    align-items: center;
    margin-top: 10px;
    
  }
  
  
  .decrement-button,
  .increment-button {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    border: none;
    background-color: #ddd;
    border-radius: 5px;
    cursor: pointer;
  }
  